body {
  background-color: #111;
}

.pagecontainer {
  min-width: 540px;
  max-width: 99vw;
  width: 100%;
  margin-left: 3px;
  display: inline-block;
}

section {
  overflow: scroll;
  max-height: 450px;
  height: 100%;
}

.rightaligntext {
  text-align: right;
}

.hideable {

}

.hidden {
  display: none;
}

textarea[name='Bio.description'] {
  min-width: 567px;
  min-height: 72px;
  overflow: scroll;
}
textarea[name='Spell.description'] {
  min-width: 567px;
  min-height: 72px;
  overflow: scroll;
}
