body {
  background: #222;
}

input[type=number] {
  width: 45px;
}

input:read-only {
	background-color: #CCC;
}

table {
  background-color: white;
  border: 1px solid black;
}

th {
	white-space: nowrap;
  font-variant: small-caps;
	width: 0;
	height: 0;
	word-wrap: none;
}

td {
	white-space: nowrap;
	width: 0;
	height: 0;
	word-wrap: none;
}

.hidden {
  visibility: hidden;
}

.btn {
	width: 55px;
	height: 25px;
}

#deathdiv {
  visibility: hidden; /* Hidden by default. Visible on click */
	display: 'none';
	opacity: 0;
  width: 100vw;
	height: 100vh;
	background-color: #A00;
  color: #000; /* White text color */
  text-align: center; /* Centered text */
  position: absolute; /* Sit on top of the screen */
  z-index: 3; /* Add a z-index if needed */
  left: 0; /* Center the snackbar */
  bottom: 0; /* 30px from the bottom */
}

#deathdiv .h1 {
	position: fixed;
	left: 50%;
	bottom: 50%;
}

/*****
** Collapsibles
*****/
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  padding: 6px 6px 6px 12px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #222;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
	z-index: 1;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #555;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: #DFDFDF;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
}
